/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 2px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .loader-div{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.619);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .lading-page{
    background-image: url("./assets/landing.png");
    width: 100%;
    height: 50vw;
    background-size: 100% 100%;
  }

  
@media only screen and (max-width: 642px) {
  .lading-page{
    background-image: url("./assets/mobile-back.png");
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
  }
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b1739; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e43fb; 
}

input::placeholder {
  color: #9fb2d5;
  opacity: 1; /* Firefox */
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  color: white;
  border-radius: 50px;
}

#customers td, #customers th {
  /* border: 1px solid #ddd; */
  padding: 8px;
  padding-left: 30px;
}

#customers tr:nth-child(even){background-color: #0b1739;}

#customers tr {
  background-color:  #0a1330;
  height: 60px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0b1739;;
  color: white;;
}